<h1>Pedidos <%= @estado %></h1>

<%= render @orders %>

<div class="contenedor">
  <%= will_paginate @orders, :previous_label => 'Anterior', :next_label => 'Siguiente', :class => 'apple_pagination' %>
</div>
