<h1>Productos</h1>

<%= render @products %>

<div class="contenedor">
  <%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente', :class => 'apple_pagination' %>
</div>

